:host {
  display: block;
}

.sidebar__form {
  padding: 1em;

  input:
  :-webkit-outer-spin-button,
  input::-webkit-inner-spin-button,
  input::-webkit-clear-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.sidebar__no-event {
  text-align: center;
  font-size: 2em;
  padding: 1em;
}