:host {
	background: #fff;

	display: flex;
	flex-direction: column;

	height: 100vh;
	max-height: 100vh;

	user-select: none;
}

.calendar__controls {
	display: flex;

	min-height: min-content;
}

/* controls */
.calendar__control-piece {
	flex: 1;
}

.calendar__control-navigation {
	text-align: right;
}

.calendar__control-display {
	text-align: center;
}
/* --- */

.calendar__display {
	flex: 1;
	min-height: 0;
}


.calendar__grid {
	height: 100%;
}