:host {
	display: flex;
}

.period-grid__overview {
	padding: 0 0.5em;

	flex-direction: column;
}

.period-grid__weekday {
	min-height: min-content;

	text-align: center;
	font-size: 1.25em;

	cursor: pointer;
}