.btn-group
	button.btn.btn-secondary(
		type='button',
		'(click)'='setPreviousRange()'
	) <
	button.btn.btn-secondary(
		type='button',
		'(click)'='setTodayRange()'
	) Today
	button.btn.btn-secondary(
		type='button',
		'(click)'='setNextRange()'
	) >